/* turn on hardware acceleration */
.trigger {
  -webkit-transform: translateZ(0);
  -webkit-transform: translate3d(0, 0, 0);
}

/* start screen start */
.start-screen {
  background: #eee; 
}

.start-screen-main {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.start-screen-title {
  text-align: center;
  font-size: 80px;
  color: #aaa;
  -webkit-animation: shadow-move 10s 1s;
}

@-webkit-keyframes shadow-move {
  0% {text-shadow: 0px 0px 0px #888; margin: 0;}
  20% {text-shadow: 10px 10px 10px #888; margin: -20px 0 20px -20px}
  40% {text-shadow: 10px -10px 10px #888; margin: 20px 0 -20px -20px}
  60% {text-shadow: -10px -10px 10px #888; margin: 20px 0 -20px 20px}
  80% {text-shadow: -10px 10px 10px #888; margin: -20px 0 20px 20px}
  100% {text-shadow: 0px 0px 0px #888; margin: 0;}
}

.start-screen-dot {
  width: 60px;
  height: 60px;
  margin-top: 50px;
  float: left;
}

.start-screen-dot-inner {
  width: 10px;
  height: 10px;
  display: block;
  margin: 50px auto 0 auto;
  background: #aaa;
  border-radius: 50%;
}

.start-screen-dot-0 .start-screen-dot-inner {
  -webkit-animation: dot-bounce 2s infinite;
}
.start-screen-dot-1 .start-screen-dot-inner {
  -webkit-animation: dot-bounce 2s 0.1s infinite;
}
.start-screen-dot-2 .start-screen-dot-inner {
  -webkit-animation: dot-bounce 2s 0.2s infinite;
}
.start-screen-dot-3 .start-screen-dot-inner {
  -webkit-animation: dot-bounce 2s 0.3s infinite;
}
.start-screen-dot-4 .start-screen-dot-inner {
  -webkit-animation: dot-bounce 2s 0.4s infinite;
}

@-webkit-keyframes dot-bounce {
  0% {margin-top: 50px;}
  10% {margin-top: 0px;}
  20% {margin-top: 50px;}
  30% {margin-top: 25px;}
  40% {margin-top: 50px;}
  50% {margin-top: 37px;}
  60% {margin-top: 50px;}
  70% {margin-top: 43px;}
  80% {margin-top: 50px;}
  90% {margin-top: 46px;}
  100% {margin-top: 50px;}
}
/* start screen end */


/* main screen start */
.main-screen {
  opacity: 0;
  display: none;
  background-image: url(../img/Yosemite.jpg);
  background-size: cover;
  background-position: center;
  -webkit-animation: change-background 30s infinite;
}

@-webkit-keyframes change-background {
  0% {background-image: url(../img/Yosemite.jpg);}
  28% {background-image: url(../img/Yosemite.jpg);}
  33% {background-image: url(../img/Wave.jpg);}
  61% {background-image: url(../img/Wave.jpg);}
  66% {background-image: url(../img/Galaxy.jpg);}
  94% {background-image: url(../img/Galaxy.jpg);}
  100% {background-image: url(../img/Yosemite.jpg);}
}

.statusbar {
  width: 100%;
  height: 26px;
  padding: 4px;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.6);
  border-bottom: 1px solid #ccc;
  z-index: 1000000;
}

.statusbar-system {
  width: 15px;
  height: 15px;
  float: left;
}
.statusbar-power-btn {
  width: 18px;
  height: 18px;
  padding: 0;
  margin: 0px 5px;
  background: url(../img/power.png);
  background-size: 100% 100%;
  cursor: pointer;
}
.statusbar-power-btn:hover {
  opacity: 0.8;
}

.statusbar-time {
  float: right;
  height: 18px;
  font-size: 13px;
  line-height: 18px;
  color: #555;
}

.dock {
  width: 600px;
  height: 60px;
  padding: 10px 20px;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -300px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  transition: margin 0.3s;
  z-index: 1000000;
}
.dock-hidden {
  margin-bottom: -60px;
}

.app {
  width: 40px;
  height: 40px;
  margin-right: 20px;
  float: left;
  background-size: contain;
  cursor: pointer;
}
.app:hover {
  opacity: 0.8;
}
.app-finder {
  background-image: url(../img/finder.png);
}
.app-disk {
  background-image: url(../img/disk.png);
}
.app-taskmanager {
  background-image: url(../img/taskmanager.png);
}
.app-terminal {
  background-image: url(../img/terminal.png);
}
.app-editor {
  background-image: url(../img/editor.png);
}
.app-chrome {
  background-image: url(../img/chrome.png);
}
.app-map {
  background-image: url(../img/map.png);
}
.app-music {
  background-image: url(../img/music.png);
}
/* main screen end */

/* end screen start */
.end-screen-title {
  width: 100%;
  height: 60px;
  position: absolute;
  top: calc(50% - 60px);
  font-size: 60px;
  line-height: 60px;
  text-align: center;
  color: #aaa;
  -webkit-animation: shadow-glow 2.5s infinite;
}

@-webkit-keyframes shadow-glow {
  0% {text-shadow: 0 0 0 #777}
  50% {text-shadow: 0 0 15px #777}
  100% {text-shadow: 0 0 0 #777}
}
/* end screen end */